In [1]:
#Import libraries
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
#Import calendar and listings df
calendar_df = pd.read_csv('../Data/calendar.csv')
listings_df = pd.read_csv('../Data/listings.csv')

In [ ]:
#Helper functions
def get_month(row):
    #returns the month number
    return int(row['date'].split('-')[0])

In [6]:
#Change index to allow merging
listings_df = listings_df.rename(index=str, columns={'id': 'listing_id'})
#And then merge
df = pd.merge(calendar_df, listings_df, on = 'listing_id')

In [9]:
#List of columns to drop
columns_to_drop = ['available', 'host_id','host_location','host_acceptance_rate','host_neighbourhood',
                   'host_total_listings_count', 'weekly_price', 'monthly_price',
                   'security_deposit', 'cleaning_fee', 'calendar_updated',
                   'listing_url','last_scraped' ,'scrape_id', 'name', 'summary', 'space', 'description',
                   'experiences_offered', 'street', 'neighbourhood', 'neighbourhood_cleansed', 'zipcode',
                   'neighborhood_overview', 'notes', 'transit', 'thumbnail_url', 'medium_url', 'picture_url',
                   'xl_picture_url', 'host_url', 'host_name', 'host_about', 'host_thumbnail_url', 'host_picture_url',
                   'city', 'state', 'market', 'smart_location', 'country_code', 'country', 'latitude', 'longitude',
                   'is_location_exact', 'square_feet', 'has_availability', 'availability_30',
                   'availability_60', 'availability_90', 'availability_365', 'calendar_last_scraped',
                  'first_review', 'last_review', 'requires_license', 'license', 'jurisdiction_names', 'price_y',
                  'reviews_per_month']

#Then drop them
df = df.drop(columns = columns_to_drop)

In [12]:
#Now to drop all the rows that do not have a price_x as this is our predictor
df = df.dropna(subset=['price_x'])

In [10]:
df.head()

,listing_id,date,price_x,host_since,host_response_time,host_response_rate,host_is_superhost,host_listings_count,host_verifications,host_has_profile_pic,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count
0,241032,2016-01-04,$85.00,2011-08-11,within a few hours,96%,f,3.0,"['email', 'phone', 'reviews', 'kba']",t,...,10.0,10.0,10.0,9.0,10.0,f,moderate,f,f,2
1,241032,2016-01-05,$85.00,2011-08-11,within a few hours,96%,f,3.0,"['email', 'phone', 'reviews', 'kba']",t,...,10.0,10.0,10.0,9.0,10.0,f,moderate,f,f,2
2,241032,2016-01-06,NaN,2011-08-11,within a few hours,96%,f,3.0,"['email', 'phone', 'reviews', 'kba']",t,...,10.0,10.0,10.0,9.0,10.0,f,moderate,f,f,2
3,241032,2016-01-07,NaN,2011-08-11,within a few hours,96%,f,3.0,"['email', 'phone', 'reviews', 'kba']",t,...,10.0,10.0,10.0,9.0,10.0,f,moderate,f,f,2
4,241032,2016-01-08,NaN,2011-08-11,within a few hours,96%,f,3.0,"['email', 'phone', 'reviews', 'kba']",t,...,10.0,10.0,10.0,9.0,10.0,f,moderate,f,f,2